@import "../../app.scss";

.portfolio {
  position: relative;
  background-color: lighten(#0c0c1d, 20%);

  h1 {
    position: relative;
    z-index: 11;
  }

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 10;
    background: linear-gradient(90deg, rgb(128, 0, 128) 0%, rgb(255, 30, 190) 100%);


    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    .progressBar {
      height: 10px;
      background-color: rgb(210, 230, 31);
      z-index: 10;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1200px;
      width: 100%; // Ajustado para asegurar el ancho completo
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto; // Ajustado para permitir el tamaño automático
        padding-top: 50px;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 300px; // Tamaño fijo para escritorio
          height: 300px; // Tamaño fijo para escritorio
          object-fit: cover;
          border-radius: 50px;
          

          @include mobile {
            width: 100%; // Ajustar al 100% del contenedor en móvil
            height: auto; // Mantener la proporción de la imagen en móvil
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;

        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 36px;
          }
        }

        p {
          color: rgb(243, 174, 46);
          font-size: 20px;
          font-weight: bold;

          @include mobile {
            font-size: 16px;
          }
        }

        .skillsContainer {
          display: flex;
          flex-direction: row;
          gap: 20px;

          @include mobile {
            flex-direction: column;
            align-items: center;
          }

          .skillsImage {
            width: 40px;
            height: 40px; // Ajustar altura para mantener consistencia
            object-fit: contain; // Ajustar para que la imagen se ajuste correctamente
          }
        }

        a {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
          text-align: center;
          color:red;
          font-weight: bolder;
          &:hover{
            background-color: rgb(31, 167, 230);
          }
        }
      }
    }
  }
}
